:root {
  --card-inner-width: 300px;
  --card-border-width: 5px;
  --card-margin: 16px;
  --card-total-width: 342px;
  --color-white: #E5E7E9;
}

body {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #333;

  /* Three or more columns - left aligned */
  margin: 1rem 0 0 1rem;
}

/* Two columns - centered */
@media (max-width: 1041px) {
  body {
    margin-left: calc(50vw - var(--card-total-width))
  }
}

/* One column - centered */
@media (max-width: 683px) {
  body {
    margin-left: calc(50vw - var(--card-total-width) / 2)
  }
}

.timer-deck {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
}

.timer-card {
  height: 200px;
  min-width: var(--card-inner-width);
  margin: var(--card-margin);
  border: var(--card-border-width) solid var(--color-white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* Buttons */

button,
input {
  background: none;
  border: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  font-family: inherit;
}

.toggle-pause-btn {
  margin-bottom: 1rem;
}

.card-controls-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 1em 0.5em 1em;
  box-sizing: border-box;
}

.left-btns-container button {
  margin-right: 0.2rem;
}

/* Text */

.card-title {
  margin: 0;
}

.duration,
.duration-input-container input,
label {
  font-size: 1.1rem;
}

.card-title,
.duration {
  color: black;
}

.duration-input-container {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}

.title-input {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2.5em;
}

.form,
.instructions {
  color: var(--color-white);
}

.instructions {
  display: grid;
  place-content: center;
  text-align: center;
  min-width: var(--card-inner-width);
  margin: var(--card-margin);
  font-size: 1.2rem;
  line-height: 2.5em;
}

.duration-input-sep {
  margin: 0;
}